.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button.add-button {
  height: 3em;
  width: 3em;
  background: #DCDCDC;
}

.add-button-icon {
  width: 5em;
  height: 5em;
  fill: white;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.form-input-container {
  margin-top:0px;
}

.text-optional-note {
  font-size: 12px;
  margin-bottom: 10px;
  color: grey;
}

.text-danger {
  color: #bf1650;
  font-size: 12px;
}

.text-danger::before {
  display: inline;
  content: "⚠ ";
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button.delete-button {
  margin-top: 1em;
}

.submit-button {
  background: #0072E5;
  opacity: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:disabled {
  opacity: 0.4;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: none;
}