.container {
  overflow-x: auto;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TableContainer {
  width: 100%;
}

.Table {
  width: 100%;
}

.TableBody {
  display: block;
}

.TableRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.TableHead {
  display: none;
}

.TableCell {
  flex: 1;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e0e0e0;
}

button.add-button {
  height: 3em;
  width: 3em;
  background: #DCDCDC;
}

.add-button-icon {
  width: 5em;
  height: 5em;
  fill: white;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 10px 0px 20px 0px;
  text-align: left;
}

.form-input-container {
  margin-top:0px;
}

.text-optional-note {
  font-size: 12px;
  margin-bottom: 10px;
  color: grey;
}

.error-container {
  height: 25px;
  margin-bottom: 20px;
}

.text-danger {
  color: #bf1650;
  font-size: 12px;
  margin: 0;
}

.text-danger::before {
  display: inline;
  content: "⚠ ";
}

.valid-check {
  position: absolute;
  right: 0;
  top: 20px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button.delete-button {
  margin-top: 1em;
}

.submit-button {
  background: #0072E5;
  opacity: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:disabled {
  opacity: 0.4;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: none;
}


/* Media query for tablets */
@media (max-width: 768px) {
  .TableBody {
    display: block;
  }

  .TableRow {
    flex-direction: column;
    padding: 16px;
  }

  .TableCell {
    text-align: left;
    border: none;
  }
}

/* Media query for mobile */
@media (max-width: 768px) {

  .TableRow {
    background-color: red;
    ;
  }

  .TableCell {
    padding: 0px;
  }
}